
.form-group-inner.color label{
	color: #fff;
}
.form-group-inner.color input{
	color: #fff;
}
.form-group-inner.color select{
	color: #fff;
}
.sparkline8-graph.tableCollor table{
	color: #fff !important;
}
h1.h1collor{
	color: #fff !important;
}
.dropdown-menu.cart{
	position: relative !important;
}
.dropdown-menu.cart-manu{
	position: absolute !important;
	top: 100% !important;
	right: 0 !important;
}